<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{/fragments/head :: head}"></div>
<header>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" th:href="@{/}">WellFB</a>



        <form class="form-inline" method="get" th:action="@{/users/}">
            <a th:href="@{/post/new}">
                <button type="button" class="btn btn-outline-primary mr-3">New Post</button>
            </a>

            <input class="form-control mr-sm-2" type="search" name="username" placeholder="Search for User" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            <div class="ml-5">
                <a th:href="@{/users/}">
                    <img th:src="@{/drawable/user_icon_50.png}" alt="user">
                </a>
            </div>

        </form>


    </nav>

</header>


</body>
</html>