<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{/fragments/head :: head}"></div>

<header th:fragment="header(loggeduser)">
    <div th:insert="~{/fragments/newPostModal :: modal}"></div>


    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" th:href="@{/}">WellFB</a>

        <form class="form-inline" method="get" th:action="@{/users/search}">

            <a th:if="${loggeduser != null}" th:href="@{/admin/}">
                <button th:if="${loggeduser.getRoles().iterator().next().getName().equals('ROLE_ADMIN')}" type="button" class="btn btn-outline-primary mr-3">Admin</button>
            </a>
            <button th:if="${loggeduser != null}" type="button" data-toggle="modal" data-target="#newPostModal" class="btn btn-outline-primary mr-3">New Post</button>

            <input class="form-control mr-sm-2" type="search" name="username" placeholder="Search for User" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            <div class="ml-5">

                <div th:if="${loggeduser != null}" class="btn-group">
                    <a th:href="@{'/users/?username=' + ${loggeduser.getUsername()}}">
                        <img th:src="@{${loggeduser.getAvatar().getFileName()}}" alt="user" class="profile-pic-icon">
                    </a>

                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="@{/drawable/dropdown_icon_15.png}" alt="user">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/users/}">About you</a>
                        <a class="dropdown-item" th:href="@{/users/edit}">Edit Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>

                <div th:unless="${loggeduser != null}" class="btn-group">
                    <a th:href="@{/users/}">
                        <img th:src="@{/avatars/default_avatar_100.png}" alt="user" class="profile-pic-icon">
                    </a>
                </div>

            </div>


        </form>


    </nav>

</header>


</body>
</html>