<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{/fragments/head :: head}"></div>
<header>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">WellFB</a>

        <form class="form-inline">
            <button type="button" class="btn btn-outline-primary mr-5">Primary</button>

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            <img th:src="@{/drawable/user_icon_50.png}" alt="user" class="ml-3">
        </form>
    </nav>

</header>


</body>
</html>