<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div role="group" th:fragment="postButtons">
  <div class="btn-group" role="group">

    <button type="button" onclick="likePost(this.id)" th:id="'likeButton_' + ${post.getId().toString()}" class="btn btn-link">
      <img th:if="${post.getLikedBy().contains(loggedUser)}" th:src="@{/drawable/like_icon_red_50.png}" th:post-id="${post.getId().toString()}" alt="like" th:id="'likeImage_' + ${post.getId().toString()}">
      <img th:unless="${post.getLikedBy().contains(loggedUser)}" th:src="@{/drawable/like_icon_50.png}" th:post-id="${post.getId().toString()}" alt="like" th:id="'likeImage_' + ${post.getId().toString()}">
    </button>

    <button th:if="${post.getUser().getUsername().equals(loggedUser.getUsername())}" type="button" th:id="'editButton_' + ${post.getId().toString()}" class="btn btn-link" data-toggle="modal" th:post-id="${post.getId()}" th:post-desc="${post.getDescription()}" data-target="#postEditModal">
      <img th:src="@{/drawable/edit_icon_50.png}" alt="edit">
    </button>

    <button th:if="${post.getUser().getUsername().equals(loggedUser.getUsername())}" type="button" th:id="'deleteButton_' + ${post.getId().toString()}" class="btn btn-link" data-toggle="modal" th:post-id="${post.getId()}" data-target="#postDeleteModal">
      <img th:src="@{/drawable/remove_icon_50.png}" alt="remove post">
    </button>

  </div>

  <p class="mr-3 align-middle mt-1"><span th:id="'likeCount_' + ${post.getId().toString()}" th:text="${post.getLikedBy().size()}"></span> persons liked that</p>
</div>

</body>
</html>