<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="userHeader(user, loggedUser, userStatusService)" class="container-fluid ">
  <div class="d-flex align-items-center">
    <div>
      <img th:if="${userStatusService.isUserOnline(user)}" th:src="@{/drawable/status_icon_48.png}" alt="user" class="img-fluid status-icon-big">
      <img th:src="@{${user.getAvatar().getFileName()}}" alt="Avatar" class="profile-pic-big">
    </div>
    <div class="ml-3">
      <h2 th:text="${user.getUsername()}"></h2>
    </div>
  </div>

  <div class="d-flex align-items-center mt-4">
    <div class="mr-4">
      <h4 id="userHeaderFollowedByText" th:text="'Followed By ' + ${user.getFollowedBy().size()}"></h4>
    </div>
    <div>
      <h4 th:text="'Follows ' + ${user.getFollows().size()}"></h4>
    </div>
  </div>

  <hr>
  <div th:if="${user != loggedUser}" class="btn-group" role="group">
    <div>
      <button type="submit" th:if="${user.getFollowedBy().contains(loggedUser)}" th:id="${user.getId()}" onclick="followUser(this.id)" class="btn btn-primary mx-1">Followed</button>
      <button type="submit" th:unless="${user.getFollowedBy().contains(loggedUser)}" th:id="${user.getId()}" onclick="followUser(this.id)" class="btn btn-secondary mx-1">Follow</button>
    </div>
    <button type="button" class="btn btn-primary mx-1">Message</button>
    <hr>
  </div>
</div>

</body>
</html>