footer {
    margin-top: 20px;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

table {
    border: none; /* Remove table borders */
    border-collapse: collapse; /* Remove cell spacing */
}

.chart {
    max-height: 300px;
}

.profile-pic-icon {
    border-radius: 50%;
    object-fit: fill;
    width: 50px;
    height: 50px;
}

.profile-pic-icon-tiny {
    border-radius: 50%;
    object-fit: fill;
    width: 25px;
    height: 25px;
}

.profile-pic-big {
    border-radius: 50%;
    object-fit: fill;
    width: 100px;
    height: 100px;
}

.status-icon-small {
    max-height: 10px;
    max-width: 10px;
}

.status-icon-big {
    max-height: 25px;
    max-width: 25px;
}

.modal-full {
    max-width: 90% !important;
    max-height: 100% !important;
    margin-top: 0px !important;
}

.comments-scroll {
    overflow:scroll;
}

.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
}

.accordion-title,
.accordion-select  {
    background-color: #ffffff;
    color: #7f8787;
    width: 100%;
    height: 250px;
    font-size: 15px;
}

.accordion-select {
    margin-bottom: -250px;
    margin-right: 0;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
}

.accordion-title span  {
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 27px;
    padding-right: 27px;
    line-height: 53px;
}

.accordion-content {
    background-color: #f7f7f7;
    color: #7f8787;
    height: 350px;
    margin-bottom: -350px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
}
