footer {
    margin-top: 20px;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

table {
    border: none; /* Remove table borders */
    border-collapse: collapse; /* Remove cell spacing */
}

.chart {
    max-height: 300px;
}

.profile-pic-icon {
    border-radius: 50%;
    object-fit: fill;
    width: 50px;
    height: 50px;
}

.profile-pic-icon-tiny {
    border-radius: 50%;
    object-fit: fill;
    width: 25px;
    height: 25px;
}

.profile-pic-big {
    border-radius: 50%;
    object-fit: fill;
    width: 100px;
    height: 100px;
}

.status-icon-small {
    max-height: 10px;
    max-width: 10px;
}

.status-icon-big {
    max-height: 25px;
    max-width: 25px;
}

.modal-full {
    max-width: 90% !important;
    max-height: 100% !important;
    margin-top: 0px !important;
}

.comments-scroll-modal {
    overflow:scroll;
}
