table {
    border: none; /* Remove table borders */
    border-collapse: collapse; /* Remove cell spacing */
}

.profile-pic-icon {
    border-radius: 50%;
    object-fit: fill;
    max-width: 50px;
    max-height: 50px;
}