<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/navbar :: header(${loggedUser})}"></div>
<div th:replace="~{/fragments/head :: head}"></div>


<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-6 mt-5">
            <!-- Left column content -->
            <h3>Users Management</h3>
            <a th:href="@{/admin/usersManagement}">
                <img th:src="@{/drawable/users_illustration.svg}" style="width: 400px; height: 400px;">
            </a>
        </div>
        <div class="col-md-6 mt-5">
            <!-- Right column content -->
            <h3>Posts Management</h3>
            <a th:href="@{/admin/postsManagement}">
                <img th:src="@{/drawable/post_illustration.svg}" style="width: 400px; height: 400px;">
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 mt-5">
            <!-- Left column content -->
            <h3>Comments Management</h3>
            <a th:href="@{/admin/commentsManagement}">
                <img th:src="@{/drawable/comment_illustration.svg}" style="width: 400px; height: 400px;">
            </a>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</body>
</html>