<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/navbar :: header}"></div>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/postDeleteModal :: modal}"></div>
<div th:insert="~{/fragments/postEditModal :: modal}"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 text-center">
            <!-- Left column content -->
            <h2>Column 1</h2>
            <p>This is the content for column 1.</p>

            <table class="table">

                <tbody>
                <tr th:each="post:${allPosts}">
                    <td>

                        <div class="container-fluid">
                            <h2 class="my-3" th:text="${post.getUser().getUsername()}"></h2>
                        </div>

                        <img th:src="@{${post.getUploadFile().getFileName()}}" alt="image" class="img-fluid vh-100">
                        <blockquote class="text-break my-2" th:text="${post.getDescription()}"></blockquote>

                        <div th:insert="~{/fragments/postButtons :: postButtons}"></div>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-3">
            <!-- Right column content -->
            <h2>Column 2</h2>
            <p>This is the content for column 2.</p>

            <h2>You might know them</h2>
            <table class="table">

                <tbody>
                <tr th:each="user:${allUsers}">
                    <td>
                        <a th:href="@{/users/?username=__${user.getUsername()}__}">
                            <div class="btn-group" role="group">
                                <img th:src="@{/drawable/user_icon_50.png}" alt="user" class="ml-3">
                                <p th:text="${user.getUsername()}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

</body>
</html>