<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/navbar :: header(${loggedUser})}"></div>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/postModal :: postModal}"></div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 text-center">
            <!-- Left column content -->
            <table class="table">

                <tbody>
                <tr th:each="post:${allPosts}">
                    <td>

                        <div th:insert="~{/fragments/usernameAndAvatarPost :: usernameAndAvatar(${post})}"></div>

                        <img th:src="@{${post.getUploadFile().getFileName()}}" alt="image" class="img-fluid lazyload" loading="lazy" th:post-id="${post.getId().toString()}" data-toggle="modal" data-target="#postModal">
                        <h5 th:id="'postDesc_' + ${post.getId().toString()}" class="text-break my-2" th:text="${post.getDescription()}"></h5>

                        <div th:insert="~{/fragments/postButtons :: postButtons}"></div>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-3 mt-5">
            <!-- Right column content -->
            <h2>You might know them</h2>
            <table class="table mt-3">

                <tbody>
                <tr th:each="user:${allUsers}">
                    <td>
                        <a th:href="@{/users/?username=__${user.getUsername()}__}">
                            <div class="d-flex align-items-center" role="group">
                                <div>
                                    <img th:if="${userStatusService.isUserOnline(user)}" th:src="@{/drawable/status_icon_48.png}" alt="user" class="status-icon-small">
                                    <img th:src="@{${user.getAvatar().getFileName()}}" alt="user" class="mr-3 profile-pic-icon">
                                </div>
                                <p th:text="${user.getUsername()}"></p>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div th:insert="~{/fragments/postDeleteModal :: modal}"></div>
<div th:insert="~{/fragments/postEditModal :: modal}"></div>
<div th:insert="~{/fragments/footer :: footer}"></div>
</body>
</html>