<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{/fragments/navbar :: header(${loggedUser})}"></div>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/userHeader :: userHeader(${user}, ${loggedUser}, ${userStatusService})}"></div>
<div th:insert="~{/fragments/postModal :: postModal}"></div>


<h3 class="mt-5">Posts</h3>



<div class="container mt-5">
    <div th:if="${!allPostsByUser.isEmpty()}" id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li th:each="post, iterStat : ${allPostsByUser}" th:attr="data-target='#myCarousel', data-slide-to=${iterStat.index}" th:class="${iterStat.index == 0} ? 'active' : ''"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner">

            <div th:each="post, iterStat : ${allPostsByUser}" style="width:100%;" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img th:src="@{${post.getUploadFile().getFileName()}}" alt="Image" class="img-fluid vh-100 lazyload" th:post-id="${post.getId().toString()}" data-toggle="modal" data-target="#postModal">
                <div class="carousel-caption d-none d-md-block">

                    <h5 th:id="'postDesc_' + ${post.getId().toString()}" th:text="${post.getDescription()}"></h5>

                    <div th:insert="~{/fragments/postButtons :: postButtons}"></div>

                </div>

            </div>

        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div th:unless="${!allPostsByUser.isEmpty()}" class="justify-content-center align-items-center">
        <h3 th:text="${user.getUsername()} + ' has not posted anything'"></h3>
        <img th:src="@{/drawable/thisPersonHasNoPosts_illustration.svg}" alt="Image" class="img-fluid lazyload">
    </div>
</div>

<div th:insert="~{/fragments/postDeleteModal :: modal}"></div>
<div th:insert="~{/fragments/postEditModal :: modal}"></div>
<div th:insert="~{/fragments/footer :: footer}"></div>
</body>
</html>